#root{
    background-image: url('./images/tri-tb-left.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: auto 130vh;
}